body {
    background-color: rgb(255, 255, 0);
}

ul{
    font-size: 22px;
    color: red;
}

h1 {
    font-weight: bold;
    font-family: "Times New Roman",sans-serif;
    color: purple;
    text-align: center;
}